In [ ]:
# Import pandas @
# data in df @
# check for missing values
# isnull, describe @
# types of variables
# dimensions of data frame
# data formatting and data normalization
# apply proper type conversion
# turn categorical variables into quantitative variables in python

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("C:/Users/Lenovo/Downloads/dirtydata.csv")

In [4]:
df

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127    -300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132    -280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [5]:
df.isnull()

    Duration   Date  Pulse  Maxpulse  Calories
0      False  False  False     False     False
1      False  False  False     False     False
2      False  False  False     False     False
3      False  False  False     False     False
4      False  False  False     False     False
5      False  False  False     False     False
6      False  False  False     False     False
7      False  False  False     False     False
8      False  False  False     False     False
9      False  False  False     False     False
10     False  False  False     False     False
11     False  False  False     False     False
12     False  False  False     False     False
13     False  False  False     False     False
14     False  False  False     False     False
15     False  False  False     False     False
16     False  False  False     False     False
17     False  False  False     False     False
18     False  False  False     False      True
19     False  False  False     False     False
20     False  False  False     False     False
21     False  False  False     False     False
22     False   True  False     False     False
23     False  False  False     False     False
24     False  False  False     False     False
25     False  False  False     False     False
26     False  False  False     False     False
27     False  False  False     False     False
28     False  False  False     False      True
29     False  False  False     False     False
30     False  False  False     False     False
31     False  False  False     False     False

In [7]:
df.isnull().sum()

Duration    0
Date        1
Pulse       0
Maxpulse    0
Calories    2
dtype: int64

In [8]:
df.dropna(subset=['Date'], inplace=True)
df

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127    -300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132    -280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [10]:
df.describe()

         Duration       Pulse    Maxpulse    Calories
count   31.000000   31.000000   31.000000   29.000000
mean    69.193548  103.612903  128.806452  265.462069
std     71.064487    7.935899   13.095596  167.766669
min     30.000000   90.000000  101.000000 -300.000000
25%     60.000000  100.000000  120.000000  246.000000
50%     60.000000  103.000000  128.000000  282.400000
75%     60.000000  107.000000  132.500000  345.300000
max    450.000000  130.000000  175.000000  479.000000

In [12]:
x = df['Calories'].mean()
df['Calories'].fillna(x, inplace=True)

In [13]:
df

    Duration          Date  Pulse  Maxpulse    Calories
0         60  '2020/12/01'    110       130  409.100000
1         60  '2020/12/02'    117       145  479.000000
2         60  '2020/12/03'    103       135  340.000000
3         45  '2020/12/04'    109       175  282.400000
4         45  '2020/12/05'    117       148  406.000000
5         60  '2020/12/06'    102       127 -300.000000
6         60  '2020/12/07'    110       136  374.000000
7        450  '2020/12/08'    104       134  253.300000
8         30  '2020/12/09'    109       133  195.100000
9         60  '2020/12/10'     98       124  269.000000
10        60  '2020/12/11'    103       147  329.300000
11        60  '2020/12/12'    100       120  250.700000
12        60  '2020/12/12'    100       120  250.700000
13        60  '2020/12/13'    106       128  345.300000
14        60  '2020/12/14'    104       132  379.300000
15        60  '2020/12/15'     98       123  275.000000
16        60  '2020/12/16'     98       120  215.200000
17        60  '2020/12/17'    100       120  300.000000
18        45  '2020/12/18'     90       112  265.462069
19        60  '2020/12/19'    103       123  323.000000
20        45  '2020/12/20'     97       125  243.000000
21        60  '2020/12/21'    108       131  364.200000
23        60  '2020/12/23'    130       101  300.000000
24        45  '2020/12/24'    105       132  246.000000
25        60  '2020/12/25'    102       126  334.500000
26        60      20201226    100       120  250.000000
27        60  '2020/12/27'     92       118  241.000000
28        60  '2020/12/28'    103       132  265.462069
29        60  '2020/12/29'    100       132 -280.000000
30        60  '2020/12/30'    102       129  380.300000
31        60  '2020/12/31'     92       115  243.000000

In [15]:
df.dtypes

Duration      int64
Date         object
Pulse         int64
Maxpulse      int64
Calories    float64
dtype: object

In [16]:
df.shape

(31, 5)

In [20]:
df['Calories'] =df['Calories'].abs()
df

    Duration          Date  Pulse  Maxpulse    Calories
0         60  '2020/12/01'    110       130  409.100000
1         60  '2020/12/02'    117       145  479.000000
2         60  '2020/12/03'    103       135  340.000000
3         45  '2020/12/04'    109       175  282.400000
4         45  '2020/12/05'    117       148  406.000000
5         60  '2020/12/06'    102       127  300.000000
6         60  '2020/12/07'    110       136  374.000000
7        450  '2020/12/08'    104       134  253.300000
8         30  '2020/12/09'    109       133  195.100000
9         60  '2020/12/10'     98       124  269.000000
10        60  '2020/12/11'    103       147  329.300000
11        60  '2020/12/12'    100       120  250.700000
12        60  '2020/12/12'    100       120  250.700000
13        60  '2020/12/13'    106       128  345.300000
14        60  '2020/12/14'    104       132  379.300000
15        60  '2020/12/15'     98       123  275.000000
16        60  '2020/12/16'     98       120  215.200000
17        60  '2020/12/17'    100       120  300.000000
18        45  '2020/12/18'     90       112  265.462069
19        60  '2020/12/19'    103       123  323.000000
20        45  '2020/12/20'     97       125  243.000000
21        60  '2020/12/21'    108       131  364.200000
23        60  '2020/12/23'    130       101  300.000000
24        45  '2020/12/24'    105       132  246.000000
25        60  '2020/12/25'    102       126  334.500000
26        60      20201226    100       120  250.000000
27        60  '2020/12/27'     92       118  241.000000
28        60  '2020/12/28'    103       132  265.462069
29        60  '2020/12/29'    100       132  280.000000
30        60  '2020/12/30'    102       129  380.300000
31        60  '2020/12/31'     92       115  243.000000

In [22]:
df['Calories'] = df['Calories'].astype(int)
df

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130       409
1         60  '2020/12/02'    117       145       479
2         60  '2020/12/03'    103       135       340
3         45  '2020/12/04'    109       175       282
4         45  '2020/12/05'    117       148       406
5         60  '2020/12/06'    102       127       300
6         60  '2020/12/07'    110       136       374
7        450  '2020/12/08'    104       134       253
8         30  '2020/12/09'    109       133       195
9         60  '2020/12/10'     98       124       269
10        60  '2020/12/11'    103       147       329
11        60  '2020/12/12'    100       120       250
12        60  '2020/12/12'    100       120       250
13        60  '2020/12/13'    106       128       345
14        60  '2020/12/14'    104       132       379
15        60  '2020/12/15'     98       123       275
16        60  '2020/12/16'     98       120       215
17        60  '2020/12/17'    100       120       300
18        45  '2020/12/18'     90       112       265
19        60  '2020/12/19'    103       123       323
20        45  '2020/12/20'     97       125       243
21        60  '2020/12/21'    108       131       364
23        60  '2020/12/23'    130       101       300
24        45  '2020/12/24'    105       132       246
25        60  '2020/12/25'    102       126       334
26        60      20201226    100       120       250
27        60  '2020/12/27'     92       118       241
28        60  '2020/12/28'    103       132       265
29        60  '2020/12/29'    100       132       280
30        60  '2020/12/30'    102       129       380
31        60  '2020/12/31'     92       115       243

In [29]:
df.loc[7 , 'Duration'] = 45
df

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130       409
1         60  '2020/12/02'    117       145       479
2         60  '2020/12/03'    103       135       340
3         45  '2020/12/04'    109       175       282
4         45  '2020/12/05'    117       148       406
5         60  '2020/12/06'    102       127       300
6         60  '2020/12/07'    110       136       374
7         45  '2020/12/08'    104       134       253
8         30  '2020/12/09'    109       133       195
9         60  '2020/12/10'     98       124       269
10        60  '2020/12/11'    103       147       329
11        60  '2020/12/12'    100       120       250
12        60  '2020/12/12'    100       120       250
13        60  '2020/12/13'    106       128       345
14        60  '2020/12/14'    104       132       379
15        60  '2020/12/15'     98       123       275
16        60  '2020/12/16'     98       120       215
17        60  '2020/12/17'    100       120       300
18        45  '2020/12/18'     90       112       265
19        60  '2020/12/19'    103       123       323
20        45  '2020/12/20'     97       125       243
21        60  '2020/12/21'    108       131       364
23        60  '2020/12/23'    130       101       300
24        45  '2020/12/24'    105       132       246
25        60  '2020/12/25'    102       126       334
26        60      20201226    100       120       250
27        60  '2020/12/27'     92       118       241
28        60  '2020/12/28'    103       132       265
29        60  '2020/12/29'    100       132       280
30        60  '2020/12/30'    102       129       380
31        60  '2020/12/31'     92       115       243

In [31]:
df['Date'] = pd.to_datetime(df['Date'])
df

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    110       130       409
1         60 2020-12-02    117       145       479
2         60 2020-12-03    103       135       340
3         45 2020-12-04    109       175       282
4         45 2020-12-05    117       148       406
5         60 2020-12-06    102       127       300
6         60 2020-12-07    110       136       374
7         45 2020-12-08    104       134       253
8         30 2020-12-09    109       133       195
9         60 2020-12-10     98       124       269
10        60 2020-12-11    103       147       329
11        60 2020-12-12    100       120       250
12        60 2020-12-12    100       120       250
13        60 2020-12-13    106       128       345
14        60 2020-12-14    104       132       379
15        60 2020-12-15     98       123       275
16        60 2020-12-16     98       120       215
17        60 2020-12-17    100       120       300
18        45 2020-12-18     90       112       265
19        60 2020-12-19    103       123       323
20        45 2020-12-20     97       125       243
21        60 2020-12-21    108       131       364
23        60 2020-12-23    130       101       300
24        45 2020-12-24    105       132       246
25        60 2020-12-25    102       126       334
26        60 2020-12-26    100       120       250
27        60 2020-12-27     92       118       241
28        60 2020-12-28    103       132       265
29        60 2020-12-29    100       132       280
30        60 2020-12-30    102       129       380
31        60 2020-12-31     92       115       243

In [32]:
df.duplicated().sum()

1

In [37]:
df.drop_duplicates(inplace = True)
df

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    110       130       409
1         60 2020-12-02    117       145       479
2         60 2020-12-03    103       135       340
3         45 2020-12-04    109       175       282
4         45 2020-12-05    117       148       406
5         60 2020-12-06    102       127       300
6         60 2020-12-07    110       136       374
7         45 2020-12-08    104       134       253
8         30 2020-12-09    109       133       195
9         60 2020-12-10     98       124       269
10        60 2020-12-11    103       147       329
11        60 2020-12-12    100       120       250
13        60 2020-12-13    106       128       345
14        60 2020-12-14    104       132       379
15        60 2020-12-15     98       123       275
16        60 2020-12-16     98       120       215
17        60 2020-12-17    100       120       300
18        45 2020-12-18     90       112       265
19        60 2020-12-19    103       123       323
20        45 2020-12-20     97       125       243
21        60 2020-12-21    108       131       364
23        60 2020-12-23    130       101       300
24        45 2020-12-24    105       132       246
25        60 2020-12-25    102       126       334
26        60 2020-12-26    100       120       250
27        60 2020-12-27     92       118       241
28        60 2020-12-28    103       132       265
29        60 2020-12-29    100       132       280
30        60 2020-12-30    102       129       380
31        60 2020-12-31     92       115       243