In [1]:
# Problem Statement No. 02
# Perform the following operations on Age-Income dataset (Age-Income-Dataset.csv)
# Provide summary statistics (mean, median, minimum, maximum, standard deviation) for numeric variables with and
# without using any library functions.
# Provide summary statistics of income grouped by the age groups. Create a list that contains a numeric value for each
# response to the categorical variable.

In [5]:
import pandas as pd
import statistics
import math
import numpy as np

In [3]:
df = pd.read_csv("C:/Users/Lenovo/Downloads/Age-Income-Dataset.csv")

In [4]:
df

           Age  Income
0        Young   25000
1   Middle Age   54000
2          Old   60000
3        Young   15000
4        Young   45000
5        Young   65000
6        Young   70000
7        Young   30000
8   Middle Age   27000
9        Young   23000
10       Young   48000
11         Old   52000
12       Young   33000
13         Old   80000
14         Old   75000
15         Old   35000
16  Middle Age   29000
17  Middle Age   57000
18         Old   43000
19  Middle Age   56000
20         Old   63000
21         Old   32000
22         Old   45000
23         Old   89000
24  Middle Age   90000
25  Middle Age   93000
26       Young   80000
27       Young   87000
28       Young   38000
29       Young   23000
30  Middle Age   38900
31  Middle Age   53200
32         Old   43800
33  Middle Age   25600
34  Middle Age   65400
35         Old   76800
36         Old   89700
37         Old   41800
38       Young   31900
39         Old   25600
40  Middle Age   45700
41         Old   35600
42       Young   54300
43  Middle Age   65400
44         Old   67800
45         Old   24500
46  Middle Age   34900
47         Old   45300
48       Young   68400
49  Middle Age   51700

In [7]:
mean = statistics.mean(df['Income'])
mean

50966

In [8]:
median = statistics.median(df['Income'])
median

46850.0

In [9]:
min = df['Income'].min()
min

15000

In [11]:
max = df['Income'].max()
max

93000

In [16]:
std = statistics.stdev(df['Income'])
std

21096.683267707253

In [18]:
mean = np.mean(df['Income'])
mean

50966.0

In [20]:
median1 = np.median(df['Income'])
median1

46850.0

In [22]:
min1 = np.min(df['Income'])
min1

15000

In [23]:
max1 = np.max(df['Income'])
max1

93000

In [25]:
std1 = np.std(df['Income'])
std1

20884.6509187968

In [26]:
def mean(data):
    sum =0
    n = 0
    for i in data:
        sum = sum + i
        n = n+1
    mean = sum/n
    return mean

mean_var = mean(df['Income'])
mean_var

50966.0

In [1]:
def median(data):
    n=0
    array = []
    for i in data:
        n = n+1
        array.append(i)
    array.sort()
    if(n%2 == 0):
        median = array[n/2]+array[(n/2+1)]/2
    else:
        median = array[n/2]
    return median
        
median_var = median(df['Income'])
median_var

NameError: name 'df' is not defined

In [34]:
def min(data):
    min = 1000000
    for i in data:
        if(i < min):
            min = i
    return min

min = min(df['Income'])
min

15000

In [35]:
def max(data):
    max =0
    for i in data:
        if(i>max):
            max = i
    return max

max = max(df['Income'])
max

93000

In [40]:
def std(data):
    sum=0
    n=0
    mean_val = mean(df['Income'])
    for i in data:
        value = (i-mean_val)**2
        sum = sum + value
        n = n+1
    x = sum/n
    std_dev = math.sqrt(x)
    return x

std = std(df['Income'])
std

436168644.0

In [43]:
df1 = df.groupby('Age')['Income'].apply(list)
print(df1)

Age
Middle Age    [54000, 27000, 29000, 57000, 56000, 90000, 930...
Old           [60000, 52000, 80000, 75000, 35000, 43000, 630...
Young         [25000, 15000, 45000, 65000, 70000, 30000, 230...
Name: Income, dtype: object